body{
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 78.95vw;
    height: 100vh;
    box-sizing: border-box;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.bot{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
}

button{
    border-radius: 20px;
    background-color:rgb(20, 143, 245);
    color: white;
    border: 1px solid white;
    padding: 10px 27px;
    font-weight: bold;
}

.hbotleft{
    display: flex;
    /* background-color: blue; */
    width: 26%;
    align-items: center;
    justify-content: space-between;
}

.intro{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.hbotright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 65px;
    width: 30%;
    /* background-color: red; */
}

.outline{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: url(./transform.gif);
    background-size: cover;
    background-position: center;
}

.topleft{
    display: flex;
    align-items: center;
    width: 100%;
}


.topright{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
    margin-right: 60px;
}

.bold{
    font-weight: bold;
}

input{
    border-radius: 0.8rem;
    background-color: lightgrey;
    border: 1px solid white;
    width: 72%;
    height: 23px;
}

.projects>div{
    background-color: white;
}

img{
    width: 1.5em;
    height: 1.5em;
}

.item{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 100px blue;
    box-shadow: 1px 3px 4px -2px rgb(201, 201, 201);
}

.header{
    width: 100%;
    padding: 10px 0px 0px 29px;
    /* margin-left: 29px; */
    box-shadow: 1px 3px 4px -2px rgb(201,201,201);
    /* background-color: red; */
    position: relative;
    box-sizing: border-box;
}

.sidebar{
    background-color:rgb(18, 134, 228);
    width: 21.05vw;
    padding: 10px;
    box-sizing: border-box;
}

.gridbody{
    background-color: rgb(242, 242, 242);
    /* width: 100%; */
    height: 100%;
    padding-left: 15px;
}

.projects{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 100px 100px 100px;
    gap: 21px;
}

.items{
    display: grid;
    grid-template-columns: 10px;
    gap: 10px 0px;
}