body{
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 78.95vw;
    box-sizing: border-box;
    height: auto;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.bot{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
}

button{
    border-radius: 20px;
    background-color:rgb(20, 143, 245);
    color: white;
    border: 1px solid white;
    padding: 10px 27px;
    font-weight: bold;
}

.hbotleft{
    display: flex;
    /* background-color: blue; */
    width: 26%;
    align-items: center;
    justify-content: space-between;
}

.intro span{
    font-size: 12px;
}

.box span{
    font-weight: bold;
}

.intro{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.hbotright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 65px;
    width: 30%;
    /* background-color: red; */
}

.outline{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: url(./fordashboard.png);
    background-size: cover;
    background-position: center;
}


.orange{
    background-color: red;
    width: 1px;
    height: auto;
    position: absolute;
    left: 50;
}

.outline2{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: url(./reiner.gif);
    background-size: cover;
    background-position: center;
}

.outline3{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: url(./bertoldt.gif);
    background-size: cover;
    background-position: center;
}

.outline4{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: url(./icegif-493.gif);
    background-size: cover;
    background-position: center;
}

.outline5{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: url(./zeke.webp);
    background-size: cover;
    background-position: center;
}

.topleft{
    display: flex;
    align-items: center;
    width: 100%;
}

.topright{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
    margin-right: 60px;
}

.bold{
    font-weight: bold;
}

input{
    border-radius: 0.8rem;
    background-color: lightgrey;
    border: 1px solid white;
    width: 72%;
    height: 23px;
}

.projects>div{
    background-color: white;
}

img{
    width: 1.5em;
    height: 1.5em;
    /* color: red; */
}

.sidei{
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-evenly;
    height: 30px;
}

.filter-white{
    filter: invert(100%) sepia(2%) saturate(1795%) hue-rotate(307deg) brightness(94%) contrast(86%);
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 100px blue;
    box-shadow: 1px 3px 4px -2px rgb(201, 201, 201);
    padding: 10px 20px;
    align-items: flex-start;
    position: relative;
}

.border{
    position: absolute;
    top: 0;
    left:0;
    width: 9px;
    height: 100%;
    border-left: 10px solid orange;
    border-radius: 10px;
    pointer-events: none;
}

.stuff{
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title{
    font-weight: bold;
}

.header{
    width: 100%;
    padding: 10px 0px 0px 29px;
    /* margin-left: 29px; */
    box-shadow: 1px 3px 4px -2px rgb(201,201,201);
    /* background-color: red; */
    position: relative;
    box-sizing: border-box;
}

.sidebar{
    background-color:rgb(20, 143, 245);
    width: 21.05vw;
    padding: 10px;
    box-sizing: border-box;
}

.gridbody{
    /* width: 100%; */
    height: 100%;
    padding-left: 15px;
    width: 72%;
    /* background-color: red; */
}

.container2{
    display: flex;
    width: 100%;
    background-color: rgb(242, 242, 242);
}

.box{
    padding: 15px 20px;
}

.box .small{
    font-size: 13px;
    font-weight: 400;
    line-height: 0.5px;
}

.box .big{
    font-weight: bold;
    font-size: 15.5px;
}

.projects{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: repeat(3,250px);
    gap: 21px;
}

.items{
    display: grid;
    grid-template-columns: auto;
    gap: 10px 0px;
    color: white;
    height: 500px;
}

.name{
    display: flex;
    align-items: center;
}

.images{
    display: grid;
    /* background-color: red; */
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    align-self: flex-end;
    /* position: absolute; */
}

.text{
    height: 125px;
    /* height: 70%; */
}

.grey{
    color: gray;
    font-weight: 200px;
}

.right{
    margin-right: 100px;
}

.side{
    width: 25%;
}

.box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 4px -2px rgb(201, 201, 201);
}

.trending>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 289.3px;
    box-sizing: border-box;
}